@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 62.5%;
}
h1,
label,
#result {
  font-family: "Poppins", sans-serif;
  color: #fff;
}

#container {
  background-color: rebeccapurple;
  margin-top: 1rem;
  /* max-width: 40%; */
  width: 40%;
  position: relative;
  padding: 0 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
}
#container > div {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}
h1 {
  font-size: 2rem;
}
#container #label-date-btn {
  position: relative;
  left: -3rem;
}

label {
  font-size: 1rem;
  padding: 0 0.5rem;
}
input {
  font-size: large;
  border: none;
  padding: 0.5rem 1.5rem;
  margin-right: 0.5rem;
  /* color: lightgray; */
}
#btn {
  padding: 0.5rem 1.5rem;
  border: none;
  background-color: #669933;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-size: 1.2rem;
}
#btn:hover {
  background-color: #59852c;
}
#result {
  font-size: 1rem;
  position: relative;
  left: 3.7rem;
  margin-bottom: 1rem;
}
